body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #faf8ef;
}

#main-container {
  display: flex;
  flex-direction: row;
  gap: 40px; /* Add some space between the register container and game container */
}

#register-container {
  width: 300px; /* Adjust width as needed */
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#register-container h2, #register-container h3 {
  text-align: center;
}

#register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#register-form input {
  margin-bottom: 10px;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#register-form button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

#register-form button:hover {
  background-color: #45a049;
}

#players-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#players-list li {
  margin: 5px 0;
  padding: 5px;
  background-color: #eee;
  border-radius: 5px;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.tile {
  width: 100px;
  height: 100px;
  background-color: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 5px;
}

#max-tile {
  margin-top: 20px;
  font-size: 2.2em;
  background-color: gainsboro;
  border-radius: 10px;
}
